<!--The content below is only a placeholder and can be replaced.-->

  <div class="row">
    <div class="col-sm-12" >
      <h1 style="text-align:center">Descrição do Elevador:  {{ descricaoTecnica }} </h1>
  </div>
</div>

<div class="row">
    <div class="col-sm-12" >
        <h3  style="background: black; color: white">Painel de Controle</h3>
    </div>
 </div>
 <div class="row">
    <div class="col-sm-3" >
      <table class="table ">
          <tbody>
            <tr *ngFor="let a of andares" >
              <td><button *ngIf="a[0]!==undefined" (click)="movimentar(a[0])" class="btn btn-primary" style="text-align: center; width: 100%">{{a[0]}}</button></td>
              <td><button *ngIf="a[1]!==undefined" (click)="movimentar(a[1])" class="btn btn-primary" style="text-align: center; width: 100%">{{a[1]}}</button></td>
              <td><button *ngIf="a[2]!==undefined" (click)="movimentar(a[2])" class="btn btn-primary" style="text-align: center; width: 100%">{{a[2]}}</button></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-sm-9">
        <div class="row" >
            <div class="col-sm-3" >
              <input [(ngModel)]="peso" type="text" class="form-control" placeholder="Peso embarque(kg)" /> 
            </div>
            <div class="col-sm-3">
                <input [(ngModel)]="indice" type="text" class="form-control" placeholder="Item Desembarque" /> 
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6">
                <textarea [(ngModel)]="mensagem" class="form-control" rows="7" style="margin-top:5px"></textarea>
            </div>
        </div>
       
       
    </div>
   
 </div>


